.column{
    display:flex;
    flex-direction: column;
}

.verticalLine{
width: 1px;
height:250px;
background-color: #D1D1D1;
}

.positionInputFields{
    display:flex;
    justify-content: center;
    gap:30px;
}

.distanceBetweenIput{
     margin:10px;
}

.lowPriority{
    background-color: #7AE229 !important;
}

.mediumPriority{
    background-color: #FFA800 !important;
}

.urgentPriority{
    background-color: #FF3D00 !important;
}

.prioButton{
    width: 84px;
    height: 32px;
    border: 0px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
}

.priorityImage{
    width: 20px;
    height: 14.5px; 
}

.spaceBetweenSubtaskAndIcons {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
}

.positionButton{
display: flex;
justify-content: space-between;
align-items: flex-end;
margin: 40px 48px;
}

.subtaskIcon{
    height: 10px;
}

.fake-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    height: 24px;
    width: 300px;
    background-color: white;
}


.fake-textarea{
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    height: 120px;
    width: 300px;
    background-color: #fff;
}

.textarea{
    width: 90%;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 8px;
}

.input{
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    height: 24px;
    width: 300px;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline: none; 
}

.colorRed{
    color: red;
}

.fake-input input {
    width: 98%;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 8px;
    }
 
.taskIcon{
    height: 20px;
}

#description{
    resize: none;
}

.checkboxAddContact{
    height: 24px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
   
}

#addContact{
    background-color: #fff;
    border-radius: 8px;
    max-height:240px ;
    overflow-y: scroll;
    scrollbar-width: none;
}

.activContact{
    background-color: #293647;
    border-radius: 8px;
}

.d-none{
    display:none;
}

.image_container {
    width: 42px;
    height: 42px;
    border-radius: 35px;
    border: 2px, solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addContactIcon{
    display:flex;
}

.initials1,
.initials2 {
    font-size: 12px;
    color: white;
    font-weight: 400;
}