.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 134px 64px 32px  
}

.canbanBoard{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 64px;
}

.fourth-size{
    width: 20%;
}

.dragArea{
height: 5000px;
background-color: blue;
}

.spaceBetween{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.backgroudColor{
    background-color: #F6F7F8;
}

 