.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 134px 64px 32px
}

.canbanBoard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 64px;
    gap: 26px;
}

.dragArea {
    height: 96vh;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.verticalCenter{
    display:flex;
    align-items: center;
    gap: 10px;
}



.backgroudColor {
    background-color: #F6F7F8;
    min-height: 140vh;
}

.card {
    width: 240px;
    background-color: #FFFFFF;
    border: 1px gray solid;
    border-radius: 24px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.categorySmallTask {
    width: 144px;
    height: 27px;
}

.taskOnBoardSite {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    background-color: rgba(0, 0, 0, 0.3);
}

.dragArea{
    margin-top: 20px;
}

.d-noneAddTask {
    transform: translateX(100%);
}

.containeraddTaskInBoardSize {
    width: 70%;
    height: 75%;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.containerOpenTaskInBoardSize {
    font-size: 20px;
    width: 30%;
    height: 80%;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.noTask {
    display: flex;
    justify-content: center;
    align-self: center;
    border: gray 1px dashed;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    height: 48px;
    width: 246px;
    align-items: center;
    margin-top: 10px;
}

.whiteButton {
    color: #2A3647;
    background-color: white;
    border: 8px;
    font-weight: 700px;
    font-size: 21px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #2A3647;
}

.createButton {
    background-color: #2A3647;
    color: #FFFFFF;
    border: 8px;
    font-weight: 700px;
    font-size: 21px;
    padding: 16px;
    border-radius: 8px;
}

.iconOnBigTask{
    color: black;
    height: 28px;
}

.categoryOnBigTask{
    height: 32px;
}

.titleOnBigTask{
    font-size: 61px;
    font-weight: 700;
}

.priorityImgOnBigTask{
    height: 6.7px;
    width: 17px;
}

#progressbar {
    background-color: #F4F4F4;
    border-radius: 8px;
  }
  
  #progressbar>div {
    background-color: #4489FF;
    height: 8px;
    border-radius: 8px;
  }

  .authorityImageContainer {
    width: 32px;
    height: 32px;
    border-radius: 35px;
    border: 2px, solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
}

.authorityIcon{
    display:flex;
}

@media(max-width:956px){
    .canbanBoard{
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 80%;
    }

    .dragArea{
    display: flex;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
    }

    .fourth-size {
        width: 100%
    }

    .card{
        min-width: 200px;
        width: 200px;
    }


}

 