.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 134px 64px 32px
}

.canbanBoard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 64px;
}

.fourth-size {
    width: 20%;
}

.dragArea {
    height: 5000px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.backgroudColor {
    background-color: #F6F7F8;
}

.card {
    width: 100%;
    background-color: #FFFFFF;
    border:1px gray solid ;
    border-radius: 10px;
    margin:10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 24px;
    box-sizing: border-box;

}

.category {
    width: 50%;
}