body {
    margin: 0;
    background-color: #F6F7F8;
}

.contacts_list {
    position: fixed;
    padding: 32px 24px 32px 24px;
    left: 232px;
    width: 400px;
    height: 1188px;
    background-color: #FFFFFF;
    top: 137px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}



.contacts_list button {
    background-color: #2A3647;
    width: 352px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    padding: 12px 0px 12px 0px;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
}

.contacts_list button:hover {
    background-color: #29ABE2;
}

.contacts_list button:active {
    background-color: #2A3647;
}

.inside_the_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.inside_the_button img {
    width: 29.33px;
    height: 20.91px;
}

.inside_the_button h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #FFFFFF;
}

.alphabetical_order {
    padding: 17px 36px 17px 36px;
    width: 352px;
}

.alphabetical_order h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.seperator_order_contacts {
    width: 352px;
    border: 1px solid #D1D1D1
}

.image_container {
    position: relative;
    display: inline-block;
    width: Fixed (352px);
    height: 78px;
    padding: 15px 24px 15px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.initials1 {
    position: absolute;
    top: 43px;
    left: 31px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    margin-right: 5px;
}

.initials2 {
    position: absolute;
    top: 43px;
    left: 47px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
}






























#slidingPage {
    position: fixed;
    width: 1212px;
    height: 592px;
    left: 138px;
    top: 42px;
    background-color: green;
    border-radius: 30px;
    z-index: 2000;
}

#slidingContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.contact_content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    background-color: #2A3647;
    width: 419px;
    height: 592px;
    padding: 0px 48px 0px 48px;
}

.contact_content_left img {
    height: 121.97px;
    width: 100.03px;
}

.contact_content_left h1{
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact_content_left p{
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
}