* {
    padding: 0;
    margin: 0;
}

.flexbox {
    display: flex;
}

.right-side {
    width: calc(100vw - 232px);
    height: calc(100vh - 156.5px);
    padding-left: 232px;
    padding-top: 106.5px;
}

nav {
    background-color: rgb(42, 54, 71);
    position: fixed;
    width: 232px;
    height: 100%;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 103px;
    height: 121px;
    padding: 64px 0;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.link {
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    padding: 8px 56px;
    text-decoration: none;
}

.active-link {
    background-color: #091931;
    color: white !important;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 64px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

@media(max-width:800px) {
    .header {
        left: 206px;
    }

    .nav {
        width: 206px;
    }
}

@media(max-width:630px) {
    .link {
        padding: 8px 40px;
    }

    .help {
        display: none;
    }

    header {
        max-width: calc(798px - 40px);
        left: 0px;
    }

    .header_p {
        display: none;
    }

    .spaceBetween {
        justify-content: flex-end;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: space-around;
        height: 80px;
        width: auto;
        top: 89vh;
        z-index: 1999;
    }

    .footer_links_mobile {
        display: flex;
        align-items: center;
    }

    .center-y {
        flex-direction: column;
    }

    nav footer {
        display: none;
    }

    .center-x {
        display: none;
    }
}
