.join_key_metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 206px;
    left: 328px;
}

.summary_content {
    display: flex;
    width: 560px;
    height: 562px;
    position: absolute;
    top: 335px;
    left: 328px;
    gap: 10px;
}

.summary_content_img {
    background-color: rgb(42, 54, 71);
    height: 69px;
    width: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary_content_img img {
    max-width: 100%;
    max-height: 100%;
}

.summary_content_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary_content_info h1 {
    margin-block: 0px;
}

.summary_content_rows {
    background-color: aqua;
    width: 264px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    border-radius: 30px;
    padding: 38px, 19px, 38px, 19px;
}