<nav>
    <img src="./assets/img/joinLogo.png" alt="">
    <div>
        <div class="center"> <img src="./assets/img/summaryIcon.png" alt=""><a class="link" href="">Summary</a></div>
        <div class="center"> <img src="./assets/img/addTaskIcon.png" alt=""><a class="link" href="">Add Task</a></div>
        <div class="center"> <img src="./assets/img/boardIcon.png" alt=""><a class="link" href="">Board</a></div>
        <div class="center">  <img src="./assets/img/contact.png" alt=""><a class="link" href="">Contact</a></div>
    </div>

    <div><a class="link" href="">Privacy Policy</a></div>
    <div><a class="link" href="">Legal notice</a></div>
</nav>