<nav>
    <img src="./assets/img/joinLogo.png" alt="">
    <div>
        <div > <a class="link center" href=""> <img src="./assets/img/summaryIcon.png" alt=""> Summary</a></div>
        <div> <a class="link center" href=""><img src="./assets/img/addTaskIcon.png" alt="">Add Task</a> </div>
        <div>  <a class="link center" href=""><img src="./assets/img/boardIcon.png" alt="">Board</a> </div>
        <div>  <a class="link center" href=""><img src="./assets/img/contact.png" alt="">Contact</a>  </div>
    </div>

    <div><a class="link" href="">Privacy Policy</a></div>
    <div><a class="link" href="">Legal notice</a></div>
</nav>